CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
src/bench
src/test
src/MakefilE
src/cmake_install.cmake
src/CMakeFile
build/*
dist

js_build
node_modules

main
.o
obj/
src/*.o

.idea
.vscode

.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

**/.DS_Store

*.whl
venv
.venv
env/
yarn-error.log

.vs/
out/
*.egg-info/